<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimalAtlas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A0EA5612C5221D9005FB9C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A0EA5772C5221DA005FB9C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A0EA5812C5221DA005FB9C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
